!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=iso-8859-1"}
    %meta{:name => "google-site-verification", :content => "ovSH6IQNTafwJCaH2tvx5l2QIYWpuAuh9P0bsdFlmkw"}
    %title antiFrost
    = stylesheet_link_tag 'base'
    = stylesheet_link_tag 'common'   
  %body
    #main
      #header
        %img{:src => 'images/antifrostlogo.png'}
      #content
        %p Tonight's forecast low is #{h @temperature}&deg;C
      #footer
