!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=iso-8859-1"}
    %title antiFrost
  %body
    %div Welcome to antiFrost!
    %div This site is under construction
		
